
.main__logo {
    padding-left: 904px;

}

.header__links {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header__nav {
    padding-top: 35px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 17px;
    line-height: 18px;
}

.section__left {
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-image: url("./images/header_left.png");
}

.left {
    background-color: #F9C8CC;
}

.section__right {
    background-repeat: no-repeat;
    background-size: cover;
    height: 904px;
    background-image: url("./images/header_right.png") ;
}

.section__all {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.text__become {
    padding-top: 150px;
    padding-left: 150px;
    color: white;
    font-family: Inter;
    font-size: 40px;
    font-weight: bolder;
}

.text__find {
    padding-top: 150px;
    padding-left: 150px; /*baiba change*/
    color: white;
    font-family: Inter;
    font-size: 40px;
    font-weight: bolder;
}

.button_find_nanny {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 200px; /*baiba change*/
    margin-top: 300px;
}

.button_find_link {
    text-decoration: none;
}

.button_find_parent {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 300px;
}

iframe {
    width: 100%;
    height: 360px;
}

.footer {
    background-color: white;
}

.footer__all {
    padding-top: 70px;
}

.footer__col_title {
    font-family: Inter;
    font-weight: bolder;
    font-size: 22px;
    line-height: 20px;
    color: black;
    padding-left: 15px;
}

.footer__col_link {
    font-family: Inter;
    font-size: 18px;
    line-height: 17px;
    color: black;
}

.footer__col_rights {
    font-family: Inter;
    font-size: 18px;
    line-height: 17px;
    color: black;
    padding-bottom: 40px;
    padding-top: 40px;
}

.footer__col_up {
    font-family: Inter;
    font-size: 14px;
    line-height: 17px;
    color: black;
    transform: rotate(-90deg);
}

.section__right_FAQ { /*Baiba add*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 904px;

    background-image: url("./images/kidsphoto1.jpg") ;
}
