
<div th:fragment="header">
    <style>
        .header__nav {
            padding-top: 35px;
            padding-bottom: 18px;
            display: flex;
            justify-content: space-around;
            align-items:center;
            font-size: 17px;
            line-height: 18px;
        }

        .header__links {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }

    </style>
    <div>
        <nav class="header__nav">
            <a href="/" class="header__links">Main menu</a>
            <a href="/" class="header__links">Our services</a>
            <a href="/allNannies" class="header__links">Nannies</a>
            <a href="/" class="header__links">FAQ</a>
            <a href="login" class="header__links">Log in for nannies</a>
            <a href="" class="header__links">Log in for parents</a>
        </nav>
    </div>
</div>