
<div th:fragment="header" class="header">
    <div>
        <nav class="header__nav">
            <a href="/" class="header__links">Main menu</a>
            <a href="/" class="header__links">Our services</a>
            <a href="/" class="header__links">Nannies</a>
            <a href="/" class="header__links">FAQ</a>
            <a href="/templates/login.html" class="header__links">Log in for nannies</a>
            <a href="" class="header__links">Log in for parents</a>
        </nav>
    </div>
</div>