body {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9C8CC, #FFE5E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9C8CC, #FFE5E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-right: 150px;
    padding-left: 150px;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000;
}

.card {
    border-radius: 10px;
}

.profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 10px solid #ccc;
    border-radius: 50%;
}

.h3 {
    font-size: 20px;
    font-weight: 700;
}

.header__nav {
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 35px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-size: 17px;
    line-height: 18px;
}

.header__links {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nanny_card {
    margin: 50px;
}

