<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<main>
  <h3>Group Chat</h3>
  <p>Hello <span th:text="${parentUser.getUserName()}"></span>!, Welcome to group chat.</p>
  <section th:if="${chats}">
    <div th:each="chat : ${chats}">
      <div th:text="${chat.getCreatedAt()}"></div>
      <div th:if="${chat.getUser()}">
        <span>
          <img th:src="https://th.bing.com/th/id/R.c54eb0ab0058d8a913a8de73f402ce0e?rik=eM3XG7tLAzrdqg&pid=ImgRaw&r=0"
               width="60px"
               th:style=""/>
        </span>
        <b th:text="${chat.getUser()?.getUserName()}"></b>
        <span>From </span>
        <span th:text="${chat.getUser()?.getLocation()}"></span>
        <span> Wrote</span>
      </div>
      <div th:style="" th:text="${chat.getMessage()}"></div>
    </div>
  </section>
  <div>
    <form method="post" th:action="${'/FAQ/'+parentUser.getId()}">
      <div>
        <textarea name="message"></textarea>
      </div>
      <div>
        <input type="hidden" th:value="${parentUser.getId()}" name="user">
      </div>
      <div>
        <button>Send Message</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>