<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .btn {
      background-color: #F9C8CC !important;
    }
    .modal-header, h4, .close {
      background-color: #F9C8CC;
      text-align: center;
      font-size: 30px;
      color: #fff !important;
    }
    .modal-footer {
      background-color: #F9C8CC;
    }
    .checkboxes_registration {
      display: flex;
    }
  </style>
</head>
<body>

<div class="container">
  <h2>Do you want to register?</h2>
  <button type="button" class="btn btn-default btn-lg" id="Btn1">Registration</button>

  <div class="modal fade" id="Modal1" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Registration</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="firstName"><span class="glyphicon glyphicon-user"></span> First name</label>
              <input type="text" class="form-control" id="firstName" placeholder="First name">
            </div>
            <div class="form-group">
              <label for="lastName"><span class="glyphicon glyphicon-user"></span> Last name</label>
              <input type="text" class="form-control" id="lastName" placeholder="Last name">
            </div>
            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw1"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control" id="psw1" placeholder="Enter password">
              <br/>
              <input type="password" class="form-control" id="psw2" placeholder="Enter password again">
            </div>
            <div class="form-group">
              <label for="phoneNumber"><span class="glyphicon glyphicon-phone-alt"></span> Phone number</label>
              <input type="number" class="form-control" id="phoneNumber" placeholder="Enter your phone number">
            </div>
            <div class="form-group">
              <label for="location"><span class="glyphicon glyphicon-location"></span> Location</label>
              <input type="text" class="form-control" id="location" placeholder="Enter your location">
            </div>
            <div class="form-group">
              <label for="address"><span class="glyphicon glyphicon-home"></span> Address</label>
              <input type="text" class="form-control" id="address" placeholder="Enter your address">
            </div>

            <div class="checkboxes_registration">
              <h5 style="margin-right:20px;">What languages do you speak? </h5>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="language1">
                  <label class="form-check-label" for="language1">
                    English
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="language2">
                  <label class="form-check-label" for="language2">
                    Latvian
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="language3">
                  <label class="form-check-label" for="language3">
                    Lithuanian
                  </label>
                </div>
              </div>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="language4">
                  <label class="form-check-label" for="language4">
                    Russian
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="language5">
                  <label class="form-check-label" for="language5">
                    German
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="language6">
                  <label class="form-check-label" for="language6">
                    other
                  </label>
                </div>
              </div>
            </div>
            <div class="checkboxes_registration">
              <h5 style="margin-right:20px;">When do you need nanny?</h5>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hours1">
                  <label class="form-check-label" for="hours1">
                    Full-time
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hours2">
                  <label class="form-check-label" for="hours2">
                    Night hours
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hours3">
                  <label class="form-check-label" for="hours3">
                    Evening hours
                  </label>
                </div>
              </div>
              <div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="hours4">
                  <label class="form-check-label" for="hours4">
                    Day hours
                  </label>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-success btn-block" ><span class="glyphicon glyphicon-off"></span> Register</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Do you have an account? <a href="../templates/login.html">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#Btn1").click(function(){
      $("#Modal1").modal();
    });
  });
</script>

</body>
</html>