<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nannies city</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">

</head>
<body class="body">
<main class="main__about">
    <section class="section__all">
        <div class="left">
            <div>
                <nav class="header__nav">
                    <a href="/static" class="header__links">Main menu</a>
                    <a href="/static" class="header__links">Our services</a>
                    <a href="/allNannies" class="header__links">Nannies</a>
                    <a href="/FAQ1" class="header__links">FAQ</a>
                    <a href="login" class="header__links">Log in for nannies</a>
                    <a href="parentLogin" class="header__links">Log in for parents</a>
                </nav>
            </div>
            <div>

                <ul style="color: #57180A;">
                    <h3>HOW LONG WILL IT TAKE TO FIND A SITTER?</h3>
                    <li style="color: #9B2409;">
                        We work quickly to find several sitters in your area. This process can take up to a week,
                        depending on your family’s unique needs.
                    </li>
                    <h3>WHAT DOES YOUR SITTER SERVICE COST?</h3>
                    <li style="color: #9B2409;">
                        Our pricing varies depending on the needs of each family. Pricing includes a placement fee and
                        an hourly wage rate. This rate includes the sitter's wage, taxes and insurance coverage. Our
                        families also enjoy access to ongoing professional guidance from NannyCity placement
                        professionals
                        and access to our back up care services. Once we’ve learned more about your specific needs, we
                        can offer your family a detailed quote and price range.
                    </li>
                    <h3> WHAT TYPES OF TRAINING DO YOUR SITTERS RECEIVE?</h3>
                    <li style="color: #9B2409;">
                        When you invite someone new into your home, you want to make sure they’re ready for anything and
                        everything. So we bring you well-trained, qualified and simply outstanding people who are eager
                        to help you and your family out. Our local teams train and educate each sitter. These trainings
                        include ongoing instruction on child safety and how to have age-appropriate fun with children.
                    </li>
                    <h3>I'M EXCITED TO FIND A SITTER FOR MY FAMILY. WHAT ARE THE NEXT STEPS?</h3>
                    <li style="color: #9B2409;">
                        We can't wait to meet you! Please Login in for parents and write your needs and expectation on
                        our website, and
                        we'll be in touch soon.
                    </li>
                    <br>
                    <h3 style="color:tomato;">Thank you, for your question, we will reply as soon as possible :) </h3>
                </ul>
            </div>
            <div>
                <div th:each="qu : ${questions}">
                    <div>
                        <img src="static/images/baby.jpeg">
                    </div>
                    <div>
                        <p><b>question:</b> <span th:text="${qu.question()}"/></p>
                        <p><b>UserName:</b> <span th:text="${qu.person()}"/></p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img class="main__logo" src="images/logo.png" alt="Logo">
            <div class="section__right_FAQ">
                <!--                <h1 class="text__become">BECOME A NANNY</a></h1>-->
                <!--                <button type="button" class="btn btn-light button_find_parent">-->
                <!--                    <a href="/nannyRegistration"-->
                <!--                       class="button_find_link">I am a nanny</a></button>-->
            </div>
        </div>
    </section>
</main>


<footer th:insert="~{fragment/footer.html :: footer}"></footer>
</body>
</html>